<div class="container-login">
    <form action="#">
        <h2>Quên mật khẩu</h2>
        <div class="mail">
            <input class="textmail" type="email" placeholder="Email" 
            required [(ngModel)]="mail" [ngModelOptions]="{standalone: true}"  
                   >
            <button (click)=senOTP()><i class="fa fa-envelope" aria-hidden="true"></i></button>
        </div> 

        <input type="text" placeholder="Mã xác nhận" 
               required ngModel #check="ngModel" 
               [ngModelOptions]="{standalone: true}">
        <div *ngIf="check.touched && check.invalid" class="error">
            <span *ngIf="check.errors.required">Vui lòng nhập mả xác nhận!</span>
        </div>
        <input type="password" placeholder="Mật khẩu mới" 
               required ngModel #pass="ngModel" 
               [ngModelOptions]="{standalone: true}">
        <div *ngIf="pass.touched && pass.invalid" class="error">
            <span *ngIf="pass.errors.required">Vui lòng nhập mật khẩu!</span>
        </div>
        <input type="password" placeholder="Xác nhận mật khẩu"
               required ngModel #repass="ngModel" 
               [ngModelOptions]="{standalone: true}">
         <div *ngIf="repass.touched && repass.invalid" class="error">
            <span *ngIf="repass.errors.required">Vui lòng xác nhận mật khẩu!</span>
        </div>
        <button class="send" 
                >
            Gửi yêu cầu
        </button>
        <a href="index.html"> Trở lại</a>
    </form> 
</div> 