<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Thống kê</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
          <li class="breadcrumb-item active">Thống kê</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>150</h3>

            <p>Nhiệm vụ đang chờ duyệt</p>
          </div>
          <div class="icon">
            <i class="far fa-list-alt"></i>
          </div>
          <a href="#" class="small-box-footer">Xem chi tiết <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>53</h3>
            <p>Nhiệm vụ đã hoàn thành</p>
          </div>
          <div class="icon">
            <i class="far fa-calendar-check"></i>

          </div>
          <a href="#" class="small-box-footer">Xem chi tiết <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>44</h3>

            <p>Tài khoản đã đăng ký</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" class="small-box-footer">Xem chi tiết <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>65</h3>

            <p>Nhiệm vụ bị hủy</p>
          </div>
          <div class="icon">
            <i class="far fa-calendar-times"></i>
          </div>
          <a href="#" class="small-box-footer">Xem chi tiết <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row" style="padding: 0 7px">

      <div class="card mb-3" style="width: 100%; height:100%">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Thống kê nhân viên
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" style="border-radius: 5px" id="excel-table">
              <thead>
                <tr>
                  <th scope="col">Vị trí</th>
                  <th scope="col">ID</th>
                  <th scope="col">Tên nhân viên</th>
                  <th scope="col">Điểm số</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let employee of listEmployee; let i = index " >
                  <th scope="row">{{i + 1}}</th>
                  <td>{{employee.id_employee}}</td>
                  <td>{{employee.name_employee}}</td>
                  <td>{{employee.point}}</td>
                 </tr>
              </tbody>
            </table>
            <button (click)="ExportExcel()" class="btn-excel">
              <img width="20px" src="https://www.iconsdb.com/icons/preview/light-gray/excel-3-xxl.png" alt="photo">
              Xuất file excel
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>