<header>
    <div class="container">
        <img src="../../../assets/img/ba-logo.png" width="300px" alt="">
        
        <app-menu></app-menu>
        <div class="clearfix"></div>
        <div class="header-text">
            <p class="text-1">Chào mừng</p>
            <p class="text-2">Bạn đến với</p>
            <p class="text-3">Contribute </p>
            <p class="text-4">Tracking System!</p>
        </div>
        <div class="scroll-down">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>