<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Nhiệm vụ</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Nhiệm vụ</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  
  <!-- Main content -->
  <section class="content">
  
  
    <div class="container-fluid">
  
      <!-- /.row -->
      <!-- Main row -->
      <div class="row" style="padding: 0 7px" >

        <div class="card mb-3" style="width: 100%; height:100%">
          <div class="card-header">
            <div class="row">
              <div class="col">
                <i class="fas fa-table"></i>
                Chi tiết nhiệm vụ
              </div>
              
            </div>
          </div>
  
          <div class="card-body">
            <div class="container" >                    
                <h1><i class="fas fa-file-alt"></i> Chi tiết nhiệm vụ</h1>
        <div class="row">
            <div class="col" *ngFor="let m of mission " >
                <h5>Tên nhiệm vụ: </h5><span>{{m.name_mission}}</span>
                <h5>Loại nhiệm vụ: </h5><span>{{m.name_type_mission}}</span>
                <h5>Số lượng còn lại: </h5><span>{{m.Count}}</span>
                <h5>Người tạo: </h5><span>{{m.id_employee}}</span>
                <h5>Thời gian bắt đầu: </h5><span>{{m.Stardate}}</span>
                <h5>Thời gian kết thúc:</h5> <span>{{m.exprie}}</span>
                <h5>Điểm nhận được: </h5><span>{{m.point}}</span>
                <h5>Mô tả nhiệm vụ:</h5>
                <span>{{m.describe}}</span>
            </div>
        </div>
        <div class="row">
            <button routerLink="/mission">Quay lại </button>
        </div>
            </div>
          
        </div>
      </div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  
