<section class="mission-doing-list">
    <div class="container">
        <h1><i class="fas fa-table"></i>  Thống kê</h1>
        <a class="show-all" routerLink="mission">Xem tất cả <i class="fas fa-arrow-right"></i></a>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tên nhiệm vụ</th>
                        <th scope="col">Loại nhiệm vụ</th>
                        <th scope="col">Ngày nhận</th>
                        <th scope="col">Điểm</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let mission of listProcess| 
                    paginate: {id:'list-pagination', itemsPerPage: 3, currentPage: page, totalItems: totalRecords}">
                      <tr>
                        <th scope="row">{{mission.id_mission}}</th>
                        <td>{{mission.name_mission}}</td>
                        <td>{{mission.name_type_mission}}</td>
                        <td>{{mission.Stardate}}</td>
                        <td>{{mission.point}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div>
                    <pagination-controls id="list-pagination" 
                                        (pageChange)="page = $event" 
                                        previousLabel="Trước"
                                        nextLabel="Sau">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>