<section>
    <div class="container">
        <h1><i class="fas fa-file-alt"></i> Chi tiết nhiệm vụ</h1>
        <div class="row">
            <div class="col" *ngIf=" mission != null">
                <h5>Tên nhiệm vụ: </h5><span>{{mission.name_mission}}</span>
                <h5>Loại nhiệm vụ: </h5><span>{{mission.name_type_mission}}</span>
                <h5>Số lượng còn lại: </h5><span>{{mission.count}}</span>
                <h5>Người tạo: </h5><span>{{mission.id_employee}}</span>
                <h5>Thời gian bắt đầu: </h5><span>{{mission.Stardate}}</span>
                <h5>Thời gian kết thúc:</h5> <span>{{mission.exprie}}</span>
                <h5>Điểm nhận được: </h5><span>{{mission.point}}</span>
                <h5>Mô tả nhiệm vụ:</h5>
                <span>{{mission.describe}}</span>
            </div>
        </div>
        <div class="row">
            <button>Nhận nhiệm vụ</button>
        </div>
    </div>
</section>