<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
                    <h3>Contribute Tracking System</h3>
                    <p>Hệ thống CTS (Contribute Tracking System). Hệ thống theo dõi đóng góp công việc của từng nhân viên cho công ty TMA.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
                    <h2>Tiện ích</h2>
                    <ul>
                        <li><a routerLink="../home">Trang chủ</a></li>
                        <li><a routerLink="mission">Nhiệm vụ</a></li>
                        <li><a routerLink="account">Tài khoản</a></li>
                        <li><a >Đăng nhập</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-three md-mb-30 sm-mb-30">
                    <h2>Theo dõi</h2>
                    <p>
                        Theo dõi chúng tôi thông qua các trang mạng xã hội bên dưới để xem những cập nhật mới nhất.
                    </p>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-four md-mb-30 sm-mb-30">
                    <h2>Phản hồi</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ut, minus reiciendis provident harum sed incidunt
                        explicabo accusantium illum obcaecati dolores.
                    </p>
                    <form action="">
                        <input type="email">
                        <input type="submit" value="Gửi">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-text">
        All Right reserved by &copy; CTS Team
    </div>
</footer>