/*----------------------------------------------------------*/
/*---------------------------FOOTER ------------------------*/
/*----------------------------------------------------------*/

p{
    color: #999999;
    line-height: 25px;
    text-align: justify;
}

h2,h3{
    color: #ffffff;
}

h2{
    font-size: 18px;
}

.footer-top{
    background-image: url("../../../assets/img/10_Galaxy_background.jpg");
    padding: 80px 0;
}

.segment-one h3{
    color: #ffffff;
    letter-spacing: 3px;
    
}

.segment-two h2{
    color: #ffffff;
    text-transform: uppercase;
}

.segment-two h2::before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 40px;
}

.segment-two ul li a{
    color: #999999;
    text-decoration: none;
}

.segment-three h2{
    color: #fff;
    text-transform: uppercase;
}

.segment-three h2::before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.segment-three a {
    background-color: #494848;
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    padding: 5px 11px;
}

.segment-four h2{
    color: #fff;
    text-transform: uppercase;
}

.segment-four h2::before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.segment-four form input[type=submit]{
    background-color: #c65039;
    border: none;
    padding: 2px 10px;
    color: #fff;
    text-transform: uppercase;
}

.footer-bottom-text{
    text-align: center;
    background-color: #000000;
    line-height: 75px;
    color: #fff;
}

@media only screen and (max-width: 768px) and (max-width:991px){
    .md-mb-30{
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px){
    .sm-mb-30{
        margin-bottom: 30px;
    }

    .footer-top{
        padding: 50px 5px;
    }
}