<section class="mission-doing-list">
    <div class="container">
        <h1><i class="fas fa-table"></i> Danh sách nhiệm vụ</h1>
        
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tên nhiệm vụ</th>
                            <th scope="col">Mô tả</th>
                            <th scope="col">Ngày bắt đầu</th>
                            <th scope="col">Số ngày kết thúc</th>
                            <th scope="col">Loại nhiện vụ</th>
                            <th scope="col">Điểm</th>
                            <th scope="col">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let mission of listMission| 
                    paginate: {id:'list-pagination', itemsPerPage: 5, currentPage: page, totalItems: totalRecords}">
                         <tr>
                            <th scope="row">{{mission.id_mission}}</th>
                            <td>{{mission.name_mission}}</td>
                            <td>{{mission.describe}}</td>
                            <td>{{mission.Stardate}}</td>
                            <td>{{mission.exprie}}</td>
                            <td>{{mission.name_type_mission}}</td>
                            <td>{{mission.point}}</td>
                            <td><a routerLink="../{{mission.id_mission}}/detail">Xem chi tiết</a></td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <pagination-controls id="list-pagination" (pageChange)="page = $event" previousLabel="Trước"
                    nextLabel="Sau"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>