<section class="mission-doing-list">
    <div class="container">
        <h1><i class="fas fa-table"></i> Danh sách nhiệm vụ</h1>
        
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tên nhiệm vụ</th>
                            <th scope="col">Mô tả</th>
                            <th scope="col">Ngày bắt đầu</th>
                            <th scope="col">Ngày kết thúc</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Loại nhiện vụ</th>
                            <th scope="col">Điểm</th>
                            <th scope="col">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Tìm nhẫn</td>
                            <td>Lorem, ipsumv ikfgswasvv . . .</td>
                            <td>1/5/2020</td>
                            <td>10/5/2020</td>
                            <td>10</td>
                            <td>Sự kiện</td>
                            <td>100</td>
                            <td><a routerLink="../detail">Xem chi tiết</a></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Tìm kem</td>
                            <td>Lorem, ipsumv ikfgswasvv . . .</td>
                            <td>1/5/2020</td>
                            <td>10/5/2020</td>
                            <td>10</td>
                            <td>Sự kiện</td>
                            <td>100</td>
                            <td><a routerLink="../detail">Xem chi tiết</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>