<div class="container-login">
    <form action="#">
        <h1>Xin chào!</h1>
        <p>Chào mừng bạn đã quay lại!</p>
        <input type="text" maxlength="30" placeholder="ID" required ngModel #id="ngModel" [ngModelOptions]="{standalone: true}">
        <div *ngIf="id.touched && id.invalid" class="error">
            <span *ngIf="id.errors.required">Vui lòng nhập ID!</span>
        </div>
        <input type="password" maxlength="30" placeholder="Mật khẩu" required ngModel #pass="ngModel" [ngModelOptions]="{standalone: true}">
        <div *ngIf="pass.touched && pass.invalid" class="error">
            <span *ngIf="pass.errors.required">Vui lòng nhập mật khẩu!</span>
        </div>
        <div class="a">
            <input type="checkbox" id="chk"> 
            <label for="chk">Ghi nhớ mật khẩu</label>
        </div>
        <button [disabled]="id.invalid || 
                pass.invalid"
                [routerLink]="['../admin']">
                Đăng nhập</button>
        <a routerLink="../admin">Quên mật khẩu?</a>
    </form>
    
</div>