
<section class="mission-doing-list">
    <div class="container">
        <h1><i class="far fa-check-circle"></i> Nhiệm vụ hoàn thành</h1>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Tên nhiệm vụ</th>
                            <th scope="col">Thời gian hoàn thành</th>
                            <th scope="col">Loại nhiệm vụ</th>
                            <th scope="col">Điểm</th>
                            <th scope="col">Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tìm nhẫn</td>
                            <td>5/5/2020</td>
                            <td>Sự kiện</td>
                            <td>100</td>
                            <td>Đã hoàn thành</td>
                        </tr>
                        <tr>
                            <td>Tìm kem</td>
                            <td>5/5/2020</td>
                            <td>Sự kiện</td>
                            <td>100</td>
                            <td>Đã hoàn thành</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>