
<section class="mission-doing-list">
    <div class="container">
        <h1><i class="far fa-check-circle"></i> Nhiệm vụ hoàn thành</h1>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Tên nhiệm vụ</th>
                            <th scope="col">Thời gian hoàn thành</th>
                            <th scope="col">Loại nhiệm vụ</th>
                            <th scope="col">Điểm</th>
                            <th scope="col">Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let mission of listComplete| reverseuser | 
                    paginate: {id:'list-complete', itemsPerPage: 5, currentPage: pageComplete, totalItems: totalComplete}">
                        <tr>
                            <td>{{mission.name_mission}}</td>
                            <td>{{mission.date| date:'dd-MM-yyyy'}}</td>
                            <td>{{mission.name_type_mission}}</td>
                            <td>{{mission.point}}</td>
                            <td>Đã hoàn thành</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <pagination-controls class="list-pagination" 
                                        id="list-complete" 
                                        (pageChange)="pageComplete = $event" 
                                        previousLabel="Trước"
                                        nextLabel="Sau">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>