<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Nhiệm vụ</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
          <li class="breadcrumb-item active">Nhiệm vụ</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">


  <div class="container-fluid">

    <!-- /.row -->
    <!-- Main row -->
    <div class="row" style="padding: 0 7px">

      <div class="card mb-3" style="width: 100%; height:100%">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Danh sách nhiệm vụ
          <button class="btn-add" (click)="onSelectNew()"><i class="far fa-plus-square"></i>
            Thêm nhiệm vụ</button>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" style="border-radius: 5px">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Tên nhiệm vụ</th>
                  <th scope="col">Loại nhiệm vụ</th>
                  <th scope="col">Mô tả</th>
                  <th scope="col">Số lượng</th>
                  <th scope="col">Trạng thái</th>
                  <th scope="col">Điểm</th>
                  <th scope="col">Tác vụ</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let mission of listMission | reverse | paginate: {id:'list-pagination', itemsPerPage: 10, currentPage: page, totalItems: totalRecords}  ">
                  <th scope="row">{{mission.id_mission}}</th>
                  <td>{{mission.name_mission}}</td>
                  <td>{{mission.id_type}}</td>
                  <td width="500px">{{mission.describe}}</td>
                  <td *ngIf="mission.Count===0; else count"> Không giới hạn</td>
                  <td *ngIf="mission.status===1; else status"> Đang chạy</td>
                  <td>{{mission.point}}</td>
                  <td>
                    <a (click)="showConfirm(confirm)"
                      style="color: red;">
                      <i class="far fa-trash-alt"></i>
                    </a>
                    <a (click)="onSelect(mission.id_mission,mission.status,notify)"
                      style="margin-left: 10px; color: rgb(152, 152, 248);">
                      <i class="fas fa-tools"></i>
                  </a>
                    <button (click)="DetailMission(mission.id_mission, detail)"> Xem chi tiết </button>
                  </td>
                  <ng-template #status>
                    <td *ngIf="mission.status===0"> Đang duyệt</td>
                    <td *ngIf="mission.status===-1"> Đã hủy</td>
                  </ng-template>

                  <ng-template #count>
                    <td>{{mission.Count}}</td>
                  </ng-template>

                  <ng-template #confirm>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">
                            <i class="fas fa-file-alt"></i>
                            THÔNG BÁO
                        </h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="confirmDelete.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Bạn có chắc chắn muốn xóa nhiệm vụ này không?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="deleteMission(mission.id_mission, mission.status, notify)">Chấp nhận</button>
                        <button type="button" class="btn btn-danger" (click)="confirmDelete.hide()">Từ chối</button>
                    </div>
                  </ng-template>
                </tr>
              </tbody>
              
            </table>
            <div>
              <pagination-controls id="list-pagination" (pageChange)="page = $event" previousLabel="Trước"
                nextLabel="Sau"></pagination-controls>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
  

</section>

<ng-template #notify>
  <div class="modal-header">
      <h4 class="modal-title pull-left">THÔNG BÁO</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="showMessage.hide()" >
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      {{message}}
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="showMessage.hide()" >OK</button>
  </div>
</ng-template>



<ng-template #detail>
  <div class="modal-header">
    <h4 class="modal-title pull-left">CHI TIẾT NHIỆM VỤ</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="detailMission.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col" *ngIf="mission != null">
      <h5>Tên nhiệm vụ: </h5><span>{{mission.name_mission}}</span>
      <h5>Loại nhiệm vụ: </h5><span>{{mission.name_type_mission}}</span>
      <h5>Số lượng còn lại: </h5><span>{{mission.Count}}</span>
      <h5>Người tạo: </h5><span>{{mission.id_employee}}</span>
      <h5>Thời gian bắt đầu: </h5><span>{{mission.Stardate}}</span>
      <h5>Thời gian kết thúc:</h5> <span>{{mission.exprie}}</span>
      <h5>Điểm nhận được: </h5><span>{{mission.point}}</span>
      <h5>Mô tả nhiệm vụ:</h5>
      <span>{{mission.describe}}</span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="detailMission.hide()" >Xác nhận</button>
  </div>
</ng-template>