<a class="nav-link"  data-toggle="dropdown">
    <i class="far fa-bell"></i>
    <span class="badge badge-warning navbar-badge">15</span>
  </a>
  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <span class="dropdown-item dropdown-header">15 Thông báo</span>
    <div class="dropdown-divider"></div>
    <span >
      <ul *ngFor="let mission of Mission" >
        <li *ngIf="mission.status == 0" >
          {{mission.name_employee}} đã yêu cầu nhiệm vụ:
          {{mission.name_mission}} <br><button (click)=Confirm(mission.id_mission) >Chấp nhận </button>
          &nbsp;&emsp;&nbsp;&nbsp;<span><button (Click)=close(mission.id_mission)>Từ chối </button></span></li>
      </ul>
     
     
        
    </span>
    <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item">
      <i class="fas fa-file mr-2"></i> 3 nhiệm vụ mới
      <span class="float-right text-muted text-sm">2 ngày trước</span>
    </a>
    <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item dropdown-footer">Xem tất cả thông báo</a>
  </div>