<a class="nav-link" data-toggle="dropdown" href="#">
    <i class="far fa-bell"></i>
    <span class="badge badge-warning navbar-badge">15</span>
  </a>
  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <span class="dropdown-item dropdown-header">Thông báo</span>
    <div class="dropdown-divider"></div>
    <div class="dropdown-item">
      <p>Nguyễn Văn B đã yêu cầu tạo nhiệm vụ: "Tìm nhẫn".</p>
      <div>
        <button type="button" class="btn btn-success" style="margin-right: 5px;">Chấp nhận</button>
        <button type="button" class="btn btn-danger">Từ chối</button>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="dropdown-item">
      <p>Nguyễn Văn A đã yêu cầu tạo nhiệm vụ: "Tìm xôi".</p>
      <div>
        <button type="button" class="btn btn-success" style="margin-right: 5px;">Chấp nhận</button>
        <button type="button" class="btn btn-danger">Từ chối</button>
      </div>
    </div>
  </div>