
<section class="mission-doing-list">
    <div class="container">
        <h1><i class="fas fa-sync-alt"></i> Nhiệm vụ đang làm</h1>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Tên nhiệm vụ</th>
                            <th scope="col">Hạn cuối hoàn thành</th>
                            <th scope="col">Loại nhiệm vụ</th>
                            <th scope="col">Điểm</th>
                            <th scope="col">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tìm nhẫn</td>
                            <td>10</td>
                            <td>Sự kiện</td>
                            <td>100</td>
                            <td><a href="#">Hoàn thành</a></td>
                        </tr>
                        <tr>
                            <td>Tìm kem</td>
                            <td>10</td>
                            <td>Sự kiện</td>
                            <td>100</td>
                            <td><a href="#">Hoàn thành</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>