<section class="mission-doing-list">
    <div class="container">
        <h1><i class="fas fa-sync-alt"></i> Nhiệm vụ đang làm</h1>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Tên nhiệm vụ</th>
                            <th scope="col">Hạn cuối hoàn thành</th>
                            <th scope="col">Loại nhiệm vụ</th>
                            <th scope="col">Điểm</th>
                            <th scope="col">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody ng-app="windowExample">
                        <tr *ngFor="let mission of listMission
                        " >
                            <td>{{mission.name_mission}}</td>
                            <td>{{endTime| date:'dd-MM-yyyy'}}</td>
                            <td>{{mission.name_type_mission}}</td>
                            <td>{{mission.point}}</td>
                            <td> <button (click)="CompelteMission()">Hoàn thành</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>