<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Tài khoản</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Tài khoản</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  
  <!-- Main content -->
  <section class="content">
  
  
    <div class="container-fluid">
  
      <!-- /.row -->
      <!-- Main row -->
      <div class="row" style="padding: 0 7px">
  
        <div class="card mb-3" style="width: 100%; height:100%">
          <div class="card-header">
            <div class="row">
              <div class="col">
                <i class="fas fa-table"></i>
                Thêm tài khoản
              </div>
            </div>
          </div>
  
          <div class="card-body">
            <div class="container">
                    <form>
                      <input class = "form-control"type="text" placeholder="Tên nhân viên" required ngModel
                      #cc="ngModel"[(ngModel)]="name"[ngModelOptions]="{standalone: true}">
                      <div *ngIf="cc.touched && cc.invalid" class="error">
                        <span *ngIf="cc.errors.required">Vui lòng ten!</span>
                    </div>
                      <input type="password" placeholder="Mật khẩu">
                      <input type="date" placeholder="Ngày sinh">
                      <select id="input" class="form-control" style="width: 100%;" required="required">
                        <option value="">Chức vụ</option>
                      </select>
                      <input type="email" placeholder="Địa chỉ email">
                      <div>
                        <button class="btn btn-primary" (click)=" CreateAC()">
                          <i class="far fa-plus-square"></i>
                          Thêm mới</button>
                        <button routerLink="../account" type="button" class="btn btn-primary">Quay lại</button>
                      </div>
                    </form>
            </div>
  
          </div>
        </div>
      </div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  
  </section>