<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Loại nhiệm vụ</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Loại nhiệm vụ</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row" style="padding: 0 7px">

            <div class="card mb-3" style="width: 100%; height:100%">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Danh sách loại nhiệm vụ
                    <div class="card-add">
                        <input class="form-control" placeholder="Tên loại nhiệm vụ" type="text" required ngModel #cc="ngModel" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
                        <div *ngIf="cc.touched && cc.invalid" class="error">
                            <span *ngIf="cc.errors.required">Vui lòng nhập loại nhiệm vụ!</span>
                        </div>
                    <div class="row">  
                        <div class="col"></div>
                            <button class="btn btn-primary" (click)="createTypeMission()">
                                <i class="far fa-plus-square"></i>
                                Thêm loại nhiệm vụ
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" style="border-radius: 5px">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Loại nhiệm vụ</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col" width="90px">Tác vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor = "let p of listtypemission">
                                    <th scope="row">{{p.id_type}}</th>
                                    <td *ngIf= "p.status === true"><input class="form-control" type="text" value ="{{p.name_type_mission}}" [(ngModel)]="p.name_type_mission" [ngModelOptions]="{standalone: true}"></td>
                                    <td *ngIf= "p.status === false"><input class="form-control" type="text" value ="{{p.name_type_mission}}" readonly></td>
                                    <td >{{p.status ? 'Đang hoạt động' : 'Dừng hoạt động'}}</td>
                                    <td ><button class="btn-tt" [disabled]="!p.status" (click)="deleteTypeMission(p.id_type)" style="color: red;">
                                            <i class="far fa-trash-alt"></i>
                                    </button>
                                        <button class="btn-tt" [disabled]="!p.status" (click)="editTypeMission(p)" style="margin-left: 10px; color: rgb(152, 152, 248);">
                                            <i class="fas fa-tools"></i>
                                        </button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>