/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#list-pagination{
    text-align: center;
}
#list-pagination /deep/ .ngx-pagination .current {
    border-radius: 50%;
    background-color: #4D0D97;
  }