<ul class="nav nav-pills nav-sidebar flex-column">
    <!-- Add icons to the links using the .nav-icon class
       with font-awesome or any other icon font library -->
    <li class="nav-item">
      <a routerLink="/statistical" routerLinkActive="active" class="nav-link ">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
          Thống kê
        </p>
      </a>

    </li>
    <li class="nav-item">
      <a routerLink="/mission" routerLinkActive="active" class="nav-link">
        <i class="nav-icon fas fa-clipboard-list"></i>
        <p>
          Nhiệm vụ
        </p>
      </a>
    </li>
    <li class="nav-item has-treeview">
      <a routerLink="/typemission" routerLinkActive="active" class="nav-link">
        <i class="nav-icon fas fa-copy"></i>
        <p>
          Loại nhiệm vụ
        </p>
      </a>
    </li>
    <li class="nav-item has-treeview">
      <a routerLink="/account" routerLinkActive="active" class="nav-link">
        <i class="nav-icon fas fa-user-alt"></i>
        <p>
          Tài khoản
        </p>
      </a>
    </li>

    <li class="nav-header">TÀI NGUYÊN</li>
    <li class="nav-item">
      <a href="/login" class="nav-link">
        <i class="nav-icon far fa-calendar-alt"></i>
        <p>
          Lịch
          <span class="badge badge-info right">2</span>
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="pages/gallery.html" class="nav-link">
        <i class="nav-icon far fa-image"></i>
        <p>
          Bộ sưu tập
        </p>
      </a>
    </li>
    <li class="nav-item has-treeview">
      <a href="#" class="nav-link">
        <i class="nav-icon far fa-envelope"></i>
        <p>
          Hộp thư
          <i class="fas fa-angle-left right"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Hộp thư đến</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Soạn thư</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="https://adminlte.io/docs/3.0" class="nav-link">
        <i class="nav-icon fas fa-file"></i>
        <p>Tài liệu</p>
      </a>
    </li>
  </ul>